{% extends "AprProgramBundle:Default:baseMarketing.html.twig" %}
{% block content %}
    <!-- header -->
    <header class="header clear" role="banner">
        <!-- wrapper -->
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <!-- logo -->
                    <div class="logo">
                        <a href="#">
                            <img src={{ asset('bundles/Edtapp/img/marketing/logo.png')}} alt="Logo" class="logo-img">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-sm-offset-7 col-md-offset-7 col-sm-offset-7">
                    <!-- FAQ -->
                    <div class="faq">
                        <a href="{{path('faq_college', {'token':token})}}">
                            <span>FAQ</span>
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </div>
                    <!-- /FAQ -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <!-- logo client -->
                    <!-- /logo client -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
                    <!-- Slogan -->
                    <div class="slogan">
                        Découvrez comment <strong><i>Coopérons !</i></strong> peut aider votre entreprise,
                    </div>
                    <!-- /Slogan -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <!-- btn -->
                    <div class="btn-inscription animated zoomInUp">
                        <a href="{{ front_connect_member}}/{{token}}">
                            <span>Je m'inscris !</span>
                        </a>
                    </div>
                    <!-- /btn -->
                </div>
            </div>
        </div>
        <!-- /wrapper -->
    </header>
    <!-- /header -->




    <main role="main">
        <!-- section -->
        <section class="home">


            <!-- article -->
            <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-landing-corporate category-fond1">
                <!-- wrapper -->
                <div class="wrapper">
                    <!-- content -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <h2>Augmentez la rémunération de vos salariés sans que ça ne coûte 1 centime à l’entreprise ?</h2>
                            <p><strong>Coopérons !</strong>
                                permet à des entreprises partenaires d’organiser leurs programmes de
                                stimulation et promotion des ventes, dans le cadre de la réglementation
                                applicable aux rémunérations versées par des tiers à des salariés.</p>
                            <p>Grâce à <strong>Coopérons !</strong>, tous vos salariés peuvent ainsi recevoir jusqu’à 1’000 € de chèques cadeau Amazon par trimestre – sans
                                aucun coût pour votre entreprise.</p>
                            <p><strong>Coopérons !</strong> assure toutes les formalités
                                administratives, déclare et paie les cotisations sociales applicables,
                                et vous communique, chaque année, un état récapitulatif des sommes
                                versées – conformément à la réglementation applicable.</p>
                            <p>&nbsp;</p>
                            <p><a href="http://www.paris.urssaf.fr/images/ref_LCIRC-2012-0000042.pdf" target="blank"><span style="color: #0285cd;">Circulaire URSSAF<i class="fa fa-external-link"></i></span></a></p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <!-- post thumbnail -->

                            <img src={{ asset('bundles/Edtapp/img/marketing/img1a.png')}} class="attachment-post-thumbnail wp-post-image" alt="img1a">
                            <!-- /post thumbnail -->
                        </div>
                    </div>

                </div>

                <!-- /content -->

                <!-- /wrapper -->

            </article>
            <!-- /article -->



            <!-- article -->
            <article id="post-106" class="post-106 post type-post status-publish format-standard has-post-thumbnail hentry category-landing-corporate category-fond2">
                <!-- wrapper -->
                <div class="wrapper">
                    <!-- content -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
                            <!-- post thumbnail -->

                            <img src={{ asset('bundles/Edtapp/img/marketing/img2a.png')}} class="attachment-post-thumbnail wp-post-image" alt="img2a">
                            <!-- /post thumbnail -->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 txt-right">
                            <h2>Comment ça marche ? Dois-je modifier mon organisation administrative actuelle ?</h2>
                            <p>Afin de ne pas peser sur
                                votre organisation actuelle, la gestion de votre effectif salarié est
                                effectuée par cooptation par vos salariés – qui constituent entre eux le
                                <em><strong>«&nbsp;Collège Coopérons&nbsp;»</strong></em> de votre entreprise
                                (dont le membre le plus ancien sera le délégué).</p>
                            <p>Chaque membre de votre Collège doit, chaque trimestre, confirmer sa participation de membre
                                du <em><strong>Collège Coopérons</strong></em> de votre entreprise
                                – et nous vous communiquons chaque trimestre un état récapitulatif pour information.</p>
                            <p>Vous n’avez donc aucune manipulation à faire – si ce n’est de vérifier d’un coup d’oeil
                                que les membres de votre <strong><em>Collège Coopérons</em></strong> sont bien salariés
                                de votre entreprise.</p>
                        </div>
                    </div>

                </div>

                <!-- /content -->

                <!-- /wrapper -->

            </article>
            <!-- /article -->



            <!-- article -->
            <article id="post-104" class="post-104 post type-post status-publish format-standard hentry category-landing-corporate category-video">
                <!-- wrapper -->
                <div class="wrapper">
                    <!-- content -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 txt-center">
                            <p>Comment permettre aux salariés de votre entreprise de gagner jusqu’à <strong>1’000 € par trimestre</strong> ?</p>
                            <blockquote><p>C’est très simple, il vous suffit de nous retourner signé et tamponné, <strong>le Contrat Cadre</strong> (2 pages) téléchargeable dans le menu Mon Entreprise.</p>
                                <p>&nbsp;</p></blockquote>
                        </div>
                    </div>

                </div>

                <!-- /content -->

                <!-- /wrapper -->

            </article>

        </section>
        <!-- /section -->
    </main>
{% endblock %}
