{% extends "AprProgramBundle:Default:baseMarketingNew.html.twig" %}
{% block content %}
    <!-- FAQ -->
    <div class="faq">
        <div class="widget widget_text">
            <div class="textwidget">
                <a class="btn_contact" href="{{path('faq_auto_entrepreneur', {'token':token})}}">
                    <i>?</i>
                    <span>FAQ</span>
                </a>
            </div>
        </div>
    </div>
    <!-- /FAQ -->

    <div class="wrapper">
        <!-- header -->
        <header class="header clear " role="banner">
            <!-- wrapper -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <!-- logo -->
                    <div class="logo">
                        <a href="#">
                            <img src="{{ asset('bundles/Edtapp/img/marketing_new/logo.png')}}" alt="Logo" class="logo-img">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
            </div>
            <!-- /wrapper -->
        </header>
        <!-- /header -->
        <div class="border-inset"></div>

        <main role="main">
            <!-- section -->
            <section class="home">

                <article  class="container white">
                    <!-- content -->

                    <div class="row animated fadeInRight">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h2>Bénéficiez de la puissance du premier réseau commercial dédié aux Auto-Entrepreneurs</h2>
                            <p class="center">Développez votre activité indépendante, en rejoignant le réseau d’entreprises Coopérons!</p>
                        </div>
                    </div>
                    <!-- /wrapper -->

                </article>

                <article  class="container blue action">
                    <!-- content -->

                    <div class="row animated fadeInRight">
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <h2>Vous êtes <br/>
                                <span class="uppercase">Auto-Entrepreneur ?</span></h2>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <ul>
                                <li><a href="{{ front_connect_member }}/{{ token }}" target="_blank"  class="link_contact"><i></i><span>Connectez-vous</span></a></li>
                                <li><h5>&nbsp;ou&nbsp;</h5></li>
                                <li> <a href="{{ front_create_user }}/{{ token }}" target="_blank"  class="link_sign"><i></i><span>Inscrivez-vous</span></a></li>
                            </ul>


                        </div>
                    </div>
                    <!-- /wrapper -->

                </article>

                <article  class="container white article">
                    <!-- content -->

                    <div class="row animated fadeInRight">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h2>Votre premier besoin ? Augmenter votre chiffre d’affaires</h2>
                            <h2>Être indépendant <span class="red">c’est bien, </span> <br/> développer son chiffre d’affaires <span class="red">c’est mieux.</span></h2><br/>
                        </div>
                    </div>
                    <div class="row animated fadeInRight">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <p class="pull-left">Comment amorcer et entretenir le cercle vertueux ? Avoir plus de clients <br/> et prospects permet <span class="red">(i)</span> d’augmenter son tarif horaire (choisir ses clients …) <br/> et <span class="red">(ii)</span> d’augmenter son volume horaire.</p><br/>
                            <p class="pull-left black">Il me faut des outils pour facturer mes clients, gérer ma comptabilité <br/> professionnelle - mais mes moyens sont limités …<br/><br/>
                                Je cours après mes clients pour me faire payer ...</p>
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <img src="{{ asset('bundles/Edtapp/img/marketing_new/img7.png')}}"  class="wp-post-image display-large" alt="img7">
                        </div>
                    </div>
                    <!-- /wrapper -->

                </article>


                <article  class="container sky_blue article border_blue">
                    <!-- content -->
                    <div class="row animated fadeInRight">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h2>Découvrez les avantages de Coopérons pour votre activité indépendante:</h2> <br/>
                            <h4 class="center"><strong>Coopérons!</strong> est un service de gestion des relations contractuelles inter-entreprises créé dans le but de faciliter les échanges commerciaux entre ses participants.</h4> <br>
                        </div>
                    </div>

                    <div class="row animated fadeInRight">

                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <img src="{{ asset('bundles/Edtapp/img/marketing_new/img8.png')}}" class="wp-post-image img-right" alt="img8">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <ul class="list">
                                <li>Opportunité de développer votre activité en vous constituant un réseau d’apporteurs d’affaires, dont vous fixez les niveaux de commissionnement.</li>
                                <li>Conformité des contrats signés avec vos clients via <b>Coopérons!</b> </li>
                                <li>Facturation, règlement et suivi de vos prestations entièrement en ligne. </li>
                                <li>Garantie du paiement hebdomadaire de vos prestations grâce au versement d’un dépôt effectué par vos clients. </li>
                                <li>Possibilité de réduire vos frais <b>Coopérons!</b> en gagnant des Points / MultiPoints Coopérons: gagnez 1% du montant du CA facturé ou apporté par vos filleuls dans le cadre d’apports d’affaires à d’autres Auto-Entrepreneurs.</li>
                                <li>Possibilité de réduire vos frais <b>Coopérons!</b> en participant aux autres programmes de parrainage partenaires .</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /wrapper -->

                </article>

                <article  class="container blue article">
                    <!-- content -->
                    <div class="row animated fadeInRight">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h2 class="white_color">Combien ça coûte ?</h2>
                        </div>
                    </div>
                    <div class="row animated fadeInRight">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <ul class="listwhite">
                                <li>L’inscription et l’accès au service Coopérons! sont totalement gratuits. </li>
                                <li>Pour chaque contrat actif, abonnement annuel de 7,90 €</li>
                                <li>Commission de Mouvement: 2,75 % du CA HT (soit 3,30 % TTC)</li>
                                <li>Commission Apporteur d’Affaires: 5 % du CA HT facturé dans le cadre d’opérations d’apports d’affaires (en tant qu’AE apporteur d’affaire)</li>
                                <li>Réduction des frais possibles en convertissant vos gains de Points/MultiPoints acquis grâce aux programmes de parrainage.</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <img src="{{ asset('bundles/Edtapp/img/marketing_new/img6.png')}}" class="wp-post-image display-large" alt="img1">
                        </div>

                    </div>
                    <!-- /wrapper -->

                </article>


            </section>
            <!-- /section -->
        </main>

        <!--?php get_sidebar(); ?-->


    </div>

{% endblock %}
